<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="public/css/products.css">



</head>
<body>

    <div class="container d-flex justify-content-center mt-50 mb-50">
            
        <div class="row">
           
       <div class="col-md-4 mt-2">
            
                
        <div class="card">
                            <div class="card-body">
                                <div class="card-img-actions">
                                    
                                        <img src="public/img/film.jpeg" class="card-img img-fluid" width="96" height="350" alt="">
                                      
                                   
                                </div>
                            </div>

                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h6 class="font-weight-semibold mb-2">
                                        <a href="#" class="text-default mb-2" data-abc="true">Film</a>
                                    </h6>

                                    <a href="#" class="text-muted" data-abc="true">Add-Ons</a>
                                </div>

                                <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                                <div>
                                   <i class="fa fa-star star"></i>
                                   <i class="fa fa-star star"></i>
                                   <i class="fa fa-star star"></i>
                                   <i class="fa fa-star star"></i>
                                </div>

                                <div class="text-muted mb-3">34 reviews</div>

                                

                                
                            </div>
                        </div>


                    
                     
   </div>
   <div class="col-md-4 mt-2">
            
                
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="public/img/photosheet.jpeg" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2">
                                    <a href="#" class="text-default mb-2" data-abc="true">PhotoSheet</a>
                                </h6>

                                <a href="#" class="text-muted" data-abc="true">Add-Ons</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                            <div>
                               <i class="fa fa-star star"></i>
                               <i class="fa fa-star star"></i>
                               <i class="fa fa-star star"></i>
                               <i class="fa fa-star star"></i>
                            </div>

                            <div class="text-muted mb-3">34 reviews</div>

                            

                            
                        </div>
                    </div>


                
                 
</div>
<div class="col-md-4 mt-2">
            
                
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="public/img/memorycard2.jpeg" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2">
                                    <a href="#" class="text-default mb-2" data-abc="true">MemoryCard</a>
                                </h6>

                                <a href="#" class="text-muted" data-abc="true">Add-Ons</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                            <div>
                               <i class="fa fa-star star"></i>
                               <i class="fa fa-star star"></i>
                               <i class="fa fa-star star"></i>
                               <i class="fa fa-star star"></i>
                            </div>

                            <div class="text-muted mb-3">34 reviews</div>

                            

                            
                        </div>
                    </div>


                
                 
</div>

</body>
</html>