<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\abdow\OneDrive\Desktop\Software\PhotoWahba\public\CSS\OffersAdmin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offers</title>
    <script src="C:\Users\abdow\OneDrive\Desktop\Software project\PhotoWahba\public\JS\OffersAdmin.js"></script>
    
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-right mb-3"> <!-- This creates some margin below the button -->
                    <button id="openFormBtn"class="btn btn-success">Add</button>
                </div>
                <div class="border border-dark p-4 rounded shadow d-flex flex-column  " >
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="hidden-header">Offer Number</th>
                                <th class="hidden-header">Offer Title</th>
                            </tr>
                        </thead>
                        <tbody id="offerTableBody">
                            <!-- Table rows will be added here -->
                        </tbody>
                    </table>
                    <p class="text-center "id="noOffersText">There are No Offers Added Yet!</p>
                    <i class="material-icons" id="icon">&#xe854;</i>
                    <ul class="list-group" id="offerList"> 
                        
                        <!-- List items will be added here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="offerForm" class="form-popup">
        <form class="form-container">
            <h2>Add Offer</h2>
            <label for="offerTitle">Offer Title</label>
            <input type="text" id="offerTitle" required>
            <div class="button-container">
                <button type="button" id="saveOfferBtn" class="btn btn-success">Save Offer</button>
                <button type="button" id="closeFormBtn" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>

</body>
</html>
